{% block header %}

{% include "_layouts/page-header" %}

<link rel="stylesheet" href="../../templates/stylesheets/skin.css">


{% endblock %}


<div class="bodyCopy container text-center">
    
    <h1 id="introHeading">Message Received</h1>
    
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <p>Thanks for sending a message to us, we've received your message and will be in touch in the next 24 hours.</p>
        <p> Thanks, 911spares.</p>


    </div>
    <div class="col-sm-4"></div>
{% block footer %}

{% include "_layouts/footer" %}

{% endblock %}