body {
    
}


.hero-image {
    background-image: url("../../app/images/911.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 70%;
    margin-top: -20px;
}

.hero {
    background-color: #FFF;
    height: 70px;
    padding-bottom: 10px;
}

#header {
    color: #00CF5C;
    font-weight: 100;
}

.footer {
    margin-top: 20px;
}

.footer a {
    color: #00CF5C;
    text-decoration: underline;
}

#introHeading {
    color: #00CF5C;
    font-weight: 100;
}

a {
    color: #00CF5C;
}



.btn {
    background-color: #00CF5C;
    margin-top: 5%;
    color: #FFF;
    text-transform: uppercase;
}

form label {
    margin-top: 2%;
   font-size: 16px;
}


.form-control {
}

.navbar {
background-color: #e3e3e32e;
color: #fff;
font-family: Ubuntu,Helvetica,Arial,sans-serif;
}

.navbar a {
color: #000;
text-transform: uppercase;
text-decoration: underline;
}
