{% block header %}

{% include "_layouts/page-header" %}


{% endblock %}


<div class="bodyCopy container text-center">
    
    <h1 id="introHeading">{{entry.title}}</h1>
    
    
    <div class="col-sm-12">
        <script type="text/javascript" src="//www.auctionnudge.com/feed/item/js/theme/responsive/page/init/img_size/120/cats_output/dropdown/search_box/1/show_logo/1/lang/english/SellerID/911spares/siteid/3/MaxEntries/6"></script><div id="auction-nudge-items" class="auction-nudge"></div>

    </div>
{% block footer %}

{% include "_layouts/footer" %}

{% endblock %}